* {
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(223, 221, 221, 0.867);
}

#titulo {
    text-decoration: underline;
    text-align: center;
    margin: 20px;
    color: rgb(0, 0, 0);
    font-family: "Playfair Display", serif;
}

.encabezados {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 25px;
    text-decoration: underline;
    background-color: rgba(95, 197, 47, 0.504);
    margin: 15px;
}

.redes {
    margin: 20px;
    font-size: 20px;
    justify-content: space-between;
    color: rgb(61, 131, 28);
}

ul {
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin: 20px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

strong {
    color: rgb(94, 197, 47);
}

h3 {
    text-decoration: underline;
    font-size: 25px;
}

p {
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

.container {
    width: 70vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.proyecto2 {
    justify-content: space-between;
    height: 250px;
    width: 350px;
}

iframe {
    margin-left: 20px;
    width: 100%;
}