// Mapa de colores
$colores: (
    fondo: rgba(223, 221, 221, 0.867),
    texto-principal: rgb(0, 0, 0),
    destacado: rgb(94, 197, 47),
    fondo-encabezado: rgba(95, 197, 47, 0.504),
    redes: rgb(95, 197, 47, 0.504)
);

// Mixin para textos comunes
@mixin texto-basico($align: justify, $size: 17px, $font: 'Poppins', $style: sans-serif) {
    font-size: $size;
    font-family: $font, $style;
    text-align: $align;
}

// Mixin para márgenes
@mixin margen($valor) {
    margin: $valor;
}

// Estilo de encabezado general
%estilo-encabezado {
    color: map-get($colores, texto-principal);
    text-align: center;
    font-family: "Playfair Display", serif;
    text-decoration: underline;
}

// Aplicación de estilos

* {
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

body {
    background-color: map-get($colores, fondo);

    #titulo {
        @extend %estilo-encabezado;
        @include margen(20px);
    }

    .encabezados {
        @extend %estilo-encabezado;
        font-size: 25px;
        background-color: map-get($colores, fondo-encabezado);
        @include margen(15px);
    }

    .redes {
        @include margen(20px);
        font-size: 20px;
        justify-content: space-between;
        color: map-get($colores, redes);
    }

    ul {
        color: map-get($colores, texto-principal);
        @include texto-basico(center, 20px);
        @include margen(20px);
    }

    strong {
        color: map-get($colores, destacado);
    }

    h2 {
        text-decoration: underline;
        font-size: 25px;
    }

    p {
        @include texto-basico();
    }

    .container {
        width: 70vw;
        max-width: 1000px;
        min-width: 320px;
        margin: auto;
        display: flex;
        justify-content: center;

        .proyecto2 {
            justify-content: space-between;
            height: 250px;
            width: 350px;
        }
    }

    iframe {
        margin-left: 20px;
        width: 100%;
    }
    
//boxmodel
    .texto-imagen {
        display: flex;
        align-items: center;
        gap: 20px;
        padding-right: 20px;
    
        p {
            flex: 1;
        }
    
        img {
            width: 400px;
            height: auto;
        }
    }
}