/* edición del navbar */
.navbar {
    font-family: 'Playfair Display', serif;
    background-color: rgb(189, 193, 193);
    border-radius: 10px;

    .navbar-brand {
        font-weight: 500;
    }

    .nav-link {
        color: black;
        font-weight: 500;

        &:hover {
            color: rgb(94, 197, 47);
        }
    }
}

.sticky-box {
    position: relative;
    top: 10px;
    margin-bottom: 20px;
    background-color: rgba(95, 197, 47, 0.504);
    padding: 10px;
}