@charset "UTF-8";
body .encabezados, body #titulo {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Playfair Display", serif;
  text-decoration: underline;
}

* {
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: rgba(223, 221, 221, 0.867);
}
body #titulo {
  margin: 20px;
}
body .encabezados {
  font-size: 25px;
  background-color: rgba(95, 197, 47, 0.504);
  margin: 15px;
}
body .redes {
  margin: 20px;
  font-size: 20px;
  justify-content: space-between;
  color: rgba(95, 197, 47, 0.504);
}
body ul {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 20px;
}
body strong {
  color: rgb(94, 197, 47);
}
body h2 {
  text-decoration: underline;
  font-size: 25px;
}
body p {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  text-align: justify;
}
body .container {
  width: 70vw;
  max-width: 1000px;
  min-width: 320px;
  margin: auto;
  display: flex;
  justify-content: center;
}
body .container .proyecto2 {
  justify-content: space-between;
  height: 250px;
  width: 350px;
}
body iframe {
  margin-left: 20px;
  width: 100%;
}
body .texto-imagen {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 20px;
}
body .texto-imagen p {
  flex: 1;
}
body .texto-imagen img {
  width: 400px;
  height: auto;
}

/* edición del navbar */
.navbar {
  font-family: "Playfair Display", serif;
  background-color: rgb(189, 193, 193);
  border-radius: 10px;
}
.navbar .navbar-brand {
  font-weight: 500;
}
.navbar .nav-link {
  color: black;
  font-weight: 500;
}
.navbar .nav-link:hover {
  color: rgb(94, 197, 47);
}

.sticky-box {
  position: relative;
  top: 10px;
  margin-bottom: 20px;
  background-color: rgba(95, 197, 47, 0.504);
  padding: 10px;
}

@media (min-width: 320px) {
  body {
    padding: 30px;
  }
}
@media (min-width: 600px) {
  body {
    padding: 30px;
  }
}
@media (min-width: 1024px) {
  body {
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media (min-width: 320px) {
  body header,
  body main,
  body footer {
    padding: 20px;
    text-align: center;
  }
}
@media (min-width: 600px) {
  body header,
  body main,
  body footer {
    padding: 20px;
    text-align: center;
  }
}
@media (min-width: 1024px) {
  body header,
  body main,
  body footer {
    justify-content: space-between;
    padding: 40px;
  }
}
@media (min-width: 320px) {
  body h1 {
    font-size: 2em;
  }
}
@media (min-width: 600px) {
  body h1 {
    font-size: 2em;
  }
}
@media (min-width: 1024px) {
  body h1 {
    font-size: 2.5em;
  }
}
@media (min-width: 320px) {
  body h2 {
    font-size: 1.5em;
  }
}
@media (min-width: 600px) {
  body h2 {
    font-size: 1.5em;
  }
}
@media (min-width: 1024px) {
  body h2 {
    font-size: 2em;
  }
}
@media (min-width: 320px) {
  body p {
    font-size: 1.2em;
  }
}
@media (min-width: 600px) {
  body p {
    font-size: 1.2em;
  }
}
@media (min-width: 1024px) {
  body p {
    font-size: 1.5em;
  }
}

body {
  /* edición de card de imágenes */
}
body img1 {
  width: 90%;
  border-radius: 15px;
  box-shadow: 0px 3px 5px rgba(15, 15, 15, 0.5);
}
body .imagen2 {
  width: 60%;
}
body .card {
  margin: 5px;
}
body .card .card-body {
  background-color: rgba(95, 197, 47, 0.504);
}
body .card .card-body .card-title {
  text-decoration: underline;
  text-align: center;
  font-family: "Playfair Display", serif;
}
body .card .card-body .card-text {
  text-align: left;
}

/*edicion de pie de pagina*/
footer {
  position: relative;
  top: 20px;
  background-color: rgb(189, 193, 193);
  padding: 10px;
  text-align: center;
  width: auto;
}

/*# sourceMappingURL=style.css.map */
