body{background-color: rgba(140, 240, 106, 0.659);}

#titulo {text-decoration: underline; text-align: center;
margin: 20px;
color: rgb(0, 0, 0);}

.encabezados{color: rgb(0, 0, 0);
    text-align: center;
    font-style: italic;
    font-size: 30px;}

.redes {margin: 5px;
        font-size: 18px;
        margin-left: -1cm; }

ul{
        color: rgb(0, 0, 0);
        /*color en p*/
        font-size: 20px;
        /* tamaño de la fuente*/
        margin: 10px;
        /*margen para el texto*/
        text-align: justify;
        /*posicion del texto*/
    }

img{display: block;
    margin: 0 auto;
    transform: scale(0.9);}

h2{ text-decoration: underline;
    text-align: center;}
h3{text-decoration: underline;}


/* Media query para tabletas */
@media (min-width: 600px) {
    body {
        padding: 20px;
    }

    header,
    main,
    footer {
        padding: 20px;
        text-align: left;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 1.2em;
    }
}

/* Media query para computadoras de escritorio */
@media (min-width: 1024px) {
    body {
        max-width: 1200px;
        margin: 0 auto;
    }

    header,
    main,
    footer {
        display: flex;
        justify-content: space-between;
        padding: 30px;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1.5em;
    }
}